.menuTopo{
	position: fixed;
	width: 100%;
	height: 65px;
	background-color: #211d1d;
}

.subMenuTopo{
	position: fixed;
	width: 100%;
	height: 40px;
	background-color: #008CBA;
	margin-top: 65px;
}

.sidebarMenu{
	position: fixed;
	width: 200px;
	height: 532px;
	background-color: #211d1d;
	bottom: 0;
	left: 0;
	z-index: 1;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidebarList{
	padding-left: 30px;
	text-decoration: none;
	color: white;
	list-style-type: none;
}

.text1{
	margin-top: 20px;
	text-align: center;
	margin-left: 30px;
	vertical-align: middle;
}